<h3>Hello <%= @user.firstname %>, Auction is about to end.</h3>
<p>
  Your favourite auction is about to end, hurry up to place your bid and grab that item.
</p>

<p>Thanks for joining and have a great day!</p>