<h3>Hello <%= @user.firstname %>.</h3>
<p>
  Congratulations, Your Item got verified and approved on Auction Platform.
  Its ready for the auction.
</p>

<p>Thanks for joining and have a great day!</p>