<h3>Congratulations, <%= @user.firstname %></h3>
<p>You win an auction on Auction Platform. </p>
<p>
  Your bid is highest amongst all bidders.
</p>

<p>Please do the payment to confirm your Order.</p>