<h5>Comments</h5>
<div>
  <div id = "comments">
    <% @comments.each do |comment| %>
        <p><%= comment.content %> </p> 
    <%end%>
    <%= link_to "Add Your Comment", new_item_comment_path(@item) %>
  </div>
</div>
