<% @items.each do|f| %>
<p><%= "You are the winner of the action of #{f.title}, on the price of #{f.current_price}, please do the payment from the given link"%></p>

<% end %>
<% item = Item.last %>
<%= button_to "Pay Now", payments_create_path, params: {id: item.id}, remote: true %>