<% if current_user.role == "seller" %>
  <% if current_user.approved == true %>
      <br>
      <%= link_to "Add new Item", new_item_path %>
      <br>
  <% else %>
      <p>Your account is yet to be approved.</p>
  <% end %>
<% end %>



<%=  render partial: "ongoing_auction", locals: { items: @items} %>

<%= render partial: "upcoming_auction", locals: { items: @items} %>

<%= render partial: "ended_auction", locals: { items: @items} %>
