<% if current_user_role == "seller" %>
  <% if current_user.approved == true && current_user.flagged == false%>
      <br>
      <%= button_to "Add new Item", new_item_path, method: :get, class: "btn btn-primary" %>
      <br>
  <% else %>
    <% if current_user.approved == false %>
      <p>Your account is yet to be approved.</p>
    <% elsif current_user.flagged == true %>
      <p><strong>You can not add new item, because your account got flagged.Please reach to our platform via : costumercare@auctionplatform.in .</strong></p>
    <% end %>
  <% end %>
<% end %>



<%=  render partial: "ongoing_auction", locals: { items: @items} %>

<%= render partial: "upcoming_auction", locals: { items: @items} %>

<%= render partial: "ended_auction", locals: { items: @items} %>